<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
</head>
<link rel="stylesheet" href="/static/css/index.css"/>
<body background="/images/DALL·E 2022-12-23 08.54.25 - A background for a website that makes transcripts of Audio Files .png">
<h1>Transcribe audio</h1>
<details>
    <summary>Steps to get your Transcript with timestamps</summary>
    <div onclick="">1. Upload your audio file using the choose file button</div>
    <div onclick="">2. Click on the Submit button</div>
    <div onclick="">3. Wait for the file to be transcribed</div>
</details>
<form action="/result" method="POST"
      enctype="multipart/form-data">
    <input type="file" name="file"/>
    <input type="submit"/>

</form>


</body>

</html>
