<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
</head>
<link rel="stylesheet" href="/static/css/index.css"/>
<body>
<h1>Transcribe audio</h1>
<h2>Steps to get your Transcript with timestamps</h2>
<h3>1. Upload your audio file using the choose file button</h3>
<h3>2. Click on the Submit button</h3>
<h3>3. Wait for the file to be transcribed</h3>

<form action="/result" method="POST"
      enctype="multipart/form-data">
    <input type="file" name="file"/>
    <input type="submit"/>

</form>


</body>

</html>
